* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 1em sans-serif;
}
h2 {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}
.bookList {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 2rem;
  justify-content: space-around;
}

.card {
  position: relative;
  text-align: center;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2ren;
  margin: 5rem auto;
}
img {
  width: 100%;
  object-fit: cover;
}
.redCorner {
  width: 25px;
  text-align: center;
  align-items: center;
  position: absolute;
  background-color: red;
  color: white;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.2rem;
}
